html
    head 
        title= title
    body
        div(style="background-color: lightblue; padding: 20px;")
            h1= message
        div
            ui 
                each item in list
                    li= item.name    