<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <div style="background-color: lightblue; padding: 20px;">
            <h1><%= message %></h1>
        </div>
        <div>
            <div> Ejs</div>
            <ul>
                <% list.forEach(function(item) { %>
                    <li><%= item.name %></li>
                <% }); %>
            </ul>
        </div>
    </body>
</html>