html
    head 
        title My first pug template
    body
        div(style="background-color: lightblue; padding: 20px;")
            h1 Hello World!
        div
            p This is my first pug template.    