html
    head
        title= title
    body
        div(style="background-color: lightblue; padding: 20px;")
            h1= message
            p
                a(href='/users') Open user CRUD pages
        div
            ul
                each item in list
                    li= item.name