html
    head
        title Students List
    body
        h1 Students List
        div
            each student in students
                div
                    p= student.name + " - " + student.email + " -  " + student.age 
                    div
                        a(href="/students/" + student._id) View Details
                    div
                        a(href="/students/" + student._id + "/edit") Edit
                    div 
                        form(action="/students/" + student._id + "/delete", method="POST")
                            button(type="submit") Delete